<div class="m-auto w-auto">
    <swiper-container slides-per-view="4" space-between="28" navigation="true" pagination="true"
        [centerInsufficientSlides]="true" class="review-slider">
        @if (reviews) {
        @for (review of reviews | slice:0:12; track review.id) {
        <swiper-slide class="review-card">

            <div class="flex mb-5">
                <img src="/uploads/profile-pictures/{{review.user.profilePicture}}" alt="photo de profil"
                    class="w-20 rounded-full">
                <hgroup class="pl-4">
                    <h3>{{review.user.firstName}}</h3>
                    <p class="text-xs">{{review.user.occupation}}</p>
                </hgroup>
            </div>
            <div class="flex mb-5">
                @for (star of (review.rating | times); track $index) {
                <img src="/icons/star.svg" alt="">
                }
            </div>
            <p class="fade-clamp">“{{review.comment}}”</p>

        </swiper-slide>

        }
        }
    </swiper-container>

</div>