.review-card {
    background-color: var(--color-secondary-card);
    width: 23%;
    border-radius: 20px;
    padding: 2rem;
    flex-shrink: 0;
    
}

.review-card:nth-child(odd) {
    background-color: var(--color-secondary);
}

.review-slider {
    position: relative;
    display: flex;
    width: 90%;
    margin: 0 auto 3rem;
    overflow: hidden;
}
