<div class="m-auto w-auto">
    <swiper-container slides-per-view="4" space-between="28" navigation="true" pagination="true" [centerInsufficientSlides]="true" class="review-slider">
        @for (test of tests; track test) {
            <swiper-slide class="review-card">

                    <div class="flex mb-5">
                        <img src="/uploads/profile-pictures/profil.png" alt="photo de profil">
                        <hgroup class="pl-4">
                            <h3>Nom</h3>
                            <p>digital nomad</p>
                        </hgroup>
                    </div>
                    <div class="flex mb-5">
                        <img src="/icons/star.svg" alt="">
                        <img src="/icons/star.svg" alt="">
                        <img src="/icons/star.svg" alt="">
                        <img src="/icons/star.svg" alt="">
                        <img src="/icons/star.svg" alt="">
                    </div>
                    <p   class="fade-clamp">“ceci est le commentaire de test test test test test test test test test test test testtest test test
                        testceci est le commentaire de test test test test test test test test test test test testtest test test
                        te test test test testtest test test
                        testceci est le commentaire de test test test test test test test test test test test testtest test test
                        testceci est le commentaire de test test test test test test test test test test test testtest test test
                        test”</p>

            </swiper-slide>
            
        }
    </swiper-container>

</div>