<main>
    <section id="login" class="flex justify-center items-center">
        <div class="w-4/5 bg-neutral-200 md:w-2/5 rounded-[30px] my-7 p-7">
            <h1 class="small-h1-title text-center mb-7">Créer mon compte</h1>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <!-- Nom & Prénom  -->
                <div class="flex flex-col lg:flex-row gap-4 lg:gap-0 justify-between w-5/6 mx-auto">
                    <div class="flex flex-col items-center w-full lg:w-5/12 mb-3">
                        <label for="lastname" class="mb-3 font-bold text-sm">Nom</label>
                        <input type="text" formControlName="lastName"
                            class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                        <app-form-control-error [field]="registerForm.get('lastName')"></app-form-control-error>
                    </div>

                    <div class="flex flex-col items-center w-full lg:w-5/12 mb-3">
                        <label for="firstName" class="mb-3 font-bold text-sm">Prénom</label>
                        <input type="text" formControlName="firstName"
                            class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                        <app-form-control-error [field]="registerForm.get('firstName')"></app-form-control-error>
                    </div>
                </div>

                <!-- Email -->
                <div class="flex flex-col items-center mb-3">
                    <label for="email" class="mb-3 font-bold text-sm">Email</label>
                    <input type="email" formControlName="email"
                        class="bg-neutral-200 text-[var(--color-primary)] w-5/6 h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                    <app-form-control-error [field]="registerForm.get('email')"></app-form-control-error>
                </div>

                <!-- Adresse -->
                <div class="flex flex-col items-center mb-5">
                    <label for="billingAddress" class="mb-3 font-bold">Adresse</label>
                    <input formControlName="billingAddress" type="text"
                        class="bg-neutral-200 text-[var(--color-primary)] w-5/6 h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                    <app-form-control-error [field]="registerForm.get('billingAddress')"></app-form-control-error>
                </div>

                <!-- Profession & Téléphone -->
                <div class="flex flex-col lg:flex-row gap-4 lg:gap-0 justify-between w-5/6 mx-auto">
                    <div class="flex flex-col items-center w-full lg:w-5/12 mb-5">
                        <label for="occupation" class="mb-3 font-bold">Profession</label>
                        <input formControlName="occupation" type="text"
                            class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                        <app-form-control-error [field]="registerForm.get('occupation')"></app-form-control-error>
                    </div>

                    <div class="flex flex-col items-center w-full lg:w-5/12 mb-5">
                        <label for="phoneNumber" class="mb-3 font-bold">Numéro de téléphone</label>
                        <input formControlName="phoneNumber" type="text"
                            class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                        <app-form-control-error [field]="registerForm.get('phoneNumber')"
                            [fieldKey]="'phone'"></app-form-control-error>
                    </div>
                </div>

                <!-- Date de naissance & Genre -->
                <div class="flex flex-col lg:flex-row gap-4 lg:gap-0 justify-between w-5/6 mx-auto">
                    <div class="flex flex-col items-center mb-5 w-full lg:w-5/12">
                        <label for="birthDate" class="mb-3 font-bold">Date de naissance</label>
                        <input formControlName="birthDate" type="date"
                            class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                        <app-form-control-error [field]="registerForm.get('birthDate')"></app-form-control-error>
                    </div>

                    <div class="flex flex-col items-center w-full lg:w-5/12 mb-5">
                        <label for="gender" class="mb-3 font-bold">Genre</label>
                        <select formControlName="gender" name="gender" id="gender"
                            class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                            <option [ngValue]="null" disabled>— Sélectionnez —</option>
                            <option value="male">Homme</option>
                            <option value="female">Femme</option>
                            <option value="other">Autre</option>
                        </select>
                        <app-form-control-error [field]="registerForm.get('gender')"></app-form-control-error>
                    </div>
                </div>

                <!-- Password & Confirm Password -->
                <div class="flex flex-col lg:flex-row gap-4 lg:gap-0 justify-between w-5/6 mx-auto">
                    <div class="flex flex-col items-center w-full lg:w-5/12 mb-3">
                        <label for="password" class="mb-3 font-bold text-sm">Mot de passe</label>
                        <input type="password" formControlName="password"
                            class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                        <app-form-control-error [field]="registerForm.get('password')"></app-form-control-error>
                    </div>

                    <div class="flex flex-col items-center w-full lg:w-5/12 mb-3">
                        <label for="confirmPassword" class="mb-3 font-bold text-sm">Vérifiez le mot de passe</label>
                        <input type="password" formControlName="confirmPassword"
                            class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                        @if (registerForm.hasError('passwordMismatch')) {
                        <div class="mt-1 text-sm text-red-600">Les mots de passe ne correspondent pas.</div>
                        }
                    </div>
                </div>

                @if (isLoading) {
                <app-loading></app-loading>
                }
                @if (success) {
                <p class="text-green-700 bg-green-100 rounded-md px-3 py-5 my-5 text-center" aria-live="polite">
                    Compte créé avec succès. Redirection vers la connexion…
                </p>
                }
                @if (error) {
                <p class="text-red-700 bg-red-200 rounded-md px-3 py-5 my-5 text-center" aria-live="polite">
                    Une erreur est survenue lors de la création du compte. Veuillez recommencer
                </p>
                }

                <div class="flex justify-center">
                    <input type="submit" name="" id="" class="main-button mt-7">
                </div>

                <div class="flex justify-center">
                    <h3 class="pr-7 py-7">Déjà inscrit ?</h3>
                    <a [routerLink]="['/login']" class="flex items-center text-2xl text-[var(--color-primary)]">Se
                        connecter<img src="/icons/login-green.svg" alt="logo de connexion" class="w-10"></a>
                </div>

                <p class="text-center">
                    En créant un compte vous acceptez nos
                    <a href="" [routerLink]="['/terms-of-use']" class="text-[var(--color-primary)]">Conditions
                        d'utilisation</a>
                    et notre
                    <a href="" [routerLink]="['/privacy-policy']" class="text-[var(--color-primary)]">Politique de
                        confidentialité</a>
                </p>
            </form>
        </div>
    </section>
</main>