<form
    class="flex justify-between items-center w-2/3 bg-[var(--color-background)] p-1 rounded-full border-2 border-[var(--color-primary)]"
    [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="w-3/12 border-r-2 border-[var(--color-primary)]">
        <label for="city" hidden>Recherchez une ville</label>
        <input formControlName="city" type="text" placeholder="Choisissez une ville" class="h-[2.5rem] w-full px-2 rounded-l-full ">
    </div>
    <div class="w-2/12 border-r-2 border-[var(--color-primary)]">
        <label for="startDate" hidden>Date d'arrivée</label>
        <input formControlName="startDate" type="date" class="h-[2.5rem] w-full px-2">
    </div>
    <div class="w-2/12 border-r-2 border-[var(--color-primary)]">
        <label for="months" hidden>Durée</label>
        <input formControlName="months" type="number" placeholder="Durée" class="h-[2.5rem] w-full px-2">
    </div>
    <div class="w-2/12 border-r-2 border-[var(--color-primary)]">
        <label for="dailyPrice" hidden>Prix journalier</label>
        <input formControlName="dailyPrice" type="number" placeholder="Prix journalier" class="h-[2.5rem] w-full px-2">
    </div>
    <div class="w-2/12">
        <label for="nbPlace" hidden>Nombre de personnes</label>
        <input formControlName="nbPlace" type="number" placeholder="👥 Résidents" class="h-[2.5rem] w-full">
    </div>
    <input type="submit" class="main-button" value="rechercher">
</form>