<main>
    <app-search-bar class="flex justify-center my-7"></app-search-bar>
    <section id="search-results"></section>
    <section id="city-infos" class="bg-[var(--color-secondary)] p-7">
        <h2 class="text-center mb-7">A propos de nom de la ville</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi ea debitis, iusto dolorum exercitationem ratione, nostrum adipisci dolorem sit aspernatur numquam fugiat cum. Quod at quia temporibus sunt perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi ea debitis, iusto dolorum exercitationem ratione,
        nostrum adipisci dolorem sit aspernatur numquam fugiat cum. Quod at quia temporibus sunt perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi ea debitis, iusto dolorum exercitationem ratione,
        nostrum adipisci dolorem sit aspernatur numquam fugiat cum. Quod at quia temporibus sunt perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi ea debitis, iusto dolorum exercitationem ratione,
        nostrum adipisci dolorem sit aspernatur numquam fugiat cum. Quod at quia temporibus sunt perferendis?</p>
    </section>
    <section id="faq" class="mt-14">
        <h2 class="text-center my-7">Foire aux Questions</h2>
        <ul class="p-7">
            <li class="flex">
                <div class="">
                    <p class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit debitis corrupti. Voluptas obcaecati eligendi quidem asperiores ipsa debitis sunt dolore?</p>
                    @if(answerIsOpen){
                        <p class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, impedit amet sed consequuntur quia sint? Eveniet minima asperiores adipisci odit, voluptas, totam corporis nemo quaerat corrupti delectus ducimus architecto natus!</p>
                    }
                </div>
                <div class="flex items-start justify-center"><button [ngClass]="answerIsOpen ? 'rotate-90 text-2xl' : 'text-2xl'" (click)="switchOpenClosedAnswer()">➤</button></div>
            </li>
        </ul>
    </section>
</main>
