<section id="gallery"></section>
<section id="announcement-infos">
    <div>
        <hgroup>
            <h1>Suite zen pour esprit curieux</h1>
            <p></p>
        </hgroup>
        <div>
            <p>1 place</p>
            <p>1 salle de bain</p>
            <p>250 m²</p>
            <div>
                <img src="/icons/star.svg" alt="icone d'un étoile de notation">
                <p>4.83 - 37 avis</p>
            </div>
        </div>
        <h2>Description</h2>
        <p></p>
    </div>
    <aside>
        <p>encart de réservation</p>
    </aside>
</section>
<section id="commodity">
    <h2>Commodités</h2>
    <ul>
        <li>
            <p>Télévision</p>
            <img src="/icons/tv.svg" alt="">
        </li>
        <li>
            <p>Télévision</p>
            <img src="/icons/tv.svg" alt="">
        </li>
        <li>
            <p>Télévision</p>
            <img src="/icons/tv.svg" alt="">
        </li>
    </ul>
    <h2>Services possibles</h2>
    <ul>
        <li>
            <p>Télévision</p>
            <img src="/icons/tv.svg" alt="">
        </li>
        <li>
            <p>Télévision</p>
            <img src="/icons/tv.svg" alt="">
        </li>
        <li>
            <p>Télévision</p>
            <img src="/icons/tv.svg" alt="">
        </li>
    </ul>
</section>
<section id="map">
<app-results-map></app-results-map>
</section>
<section id="city-infos" class="bg-[var(--color-secondary)] p-7">
    <h2 class="text-center mb-7">A propos de nom de la ville</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi ea debitis, iusto dolorum exercitationem
        ratione, nostrum adipisci dolorem sit aspernatur numquam fugiat cum. Quod at quia temporibus sunt
        perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quasi ea debitis, iusto dolorum
        exercitationem ratione,
        nostrum adipisci dolorem sit aspernatur numquam fugiat cum. Quod at quia temporibus sunt perferendis? Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Velit quasi ea debitis, iusto dolorum exercitationem
        ratione,
        nostrum adipisci dolorem sit aspernatur numquam fugiat cum. Quod at quia temporibus sunt perferendis? Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Velit quasi ea debitis, iusto dolorum exercitationem
        ratione,
        nostrum adipisci dolorem sit aspernatur numquam fugiat cum. Quod at quia temporibus sunt perferendis?</p>
</section>
<section id="review">
    <app-review-slider></app-review-slider>
</section>