<nav class="menu" [class.panel-hidden]="!(panelState.isOpen$ | async)">
    <h2 class="small-h2-title pt-4">Tableau de bord</h2>
    <ul class="p-4">
        <li class="py-5">
            <a [routerLink]="['/profile/accomodations']" routerLinkActive="panel-link-selected" class="panel-link"
                (click)="panelState.closeIfMobile()">Mes logements</a>
        </li>
        <li class="py-5">
            <a [routerLink]="['/profile/announcements']" routerLinkActive="panel-link-selected" class="panel-link"
                (click)="panelState.closeIfMobile()">Mes
                annonces</a>
        </li>
        <li class="py-5">
            <a [routerLink]="['/profile/rental-requests']" routerLinkActive="panel-link-selected" class="panel-link"
                (click)="panelState.closeIfMobile()">Demandes de location</a>
        </li>
        <!-- <li class="py-5">
            <a [routerLink]="['/profile/rental-schedule']" routerLinkActive="panel-link-selected" class="panel-link"
                (click)="panelState.closeIfMobile()">Planning des locations</a>
        </li> -->
        <li class="py-5">
            <a [routerLink]="['/profile/add-accomodation']" routerLinkActive="panel-link-selected" class="panel-link"
                (click)="panelState.closeIfMobile()">Ajouter un logement</a>
        </li>
        <li class="py-5">
            <a [routerLink]="['/profile/add-announcement']" routerLinkActive="panel-link-selected" class="panel-link"
                (click)="panelState.closeIfMobile()">Ajouter une annonce</a>
        </li>
    </ul>
</nav>