<nav class="menu">
    <h2 class="small-h2-title pt-4">Tableau de bord</h2>
    <ul class="p-4">
        <li class="panel-link py-5">
            <a href="">Mes logements</a>
        </li>
        <li class="panel-link py-5">
            <a href="">Mes annonces</a>
        </li>
        <li class="panel-link py-5">
            <a href="">Demandes de location</a>
        </li>
        <li class="panel-link py-5">
            <a href="">Planning des locations</a>
        </li>
        <li class="panel-link py-5">
            <a href="">Ajouter un logement</a>
        </li>
        <li class="panel-link py-5">
            <a href="">Ajouter une annonce</a>
        </li>
    </ul>
</nav>