<div class="p-7 bg-[var(--color-secondary-card)] rounded-2xl">
    <h2 class="text-center mb-12">810 € par mois</h2>
    <form id="reservation-form" action="" class="flex mb-7">
        <div class="w-1/2 flex flex-col items-center">
            <label for="" class="font-bold mb-3">Date d'arrivée</label>
            <input type="date" class="bg-[var(--color-background)] w-5/6 h-[2.5rem] rounded-[7px] p-3 text-gray-500">
        </div>
        <div class="w-1/2 flex flex-col items-center">
            <label for=""  class="font-bold mb-3">Durée du séjour</label>
            <input type="number" class="bg-[var(--color-background)] w-5/6 h-[2.5rem] rounded-[7px] p-3">
        </div>
    </form>
    <div>
        <div class="flex justify-between mb-5">
            <p>Nombres de jours</p>
            <p>151</p>
        </div>
        <div class="flex justify-between mb-5">
            <p>Montant journalier (prix indicatif)</p>
            <p>27 €</p>
        </div>
        <div class="flex justify-between mb-12">
            <p>Prix total du séjour</p>
            <p>4050 €</p>
        </div>
        <div class="flex justify-between font-bold mb-12">
            <p>Prix à régler à la réservation</p>
            <p>1660 €</p>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <button type="submit" form="reservation-form" class="main-button mb-4">Réserver</button>
<p class="text-[0.8rem] text-center">Au moment de la réservation, le bien est réservé temporairement jusqu'à validation par le propriétaire</p>
    </div>
</div>