<form class="flex w-2/3 bg-[var(--color-background)] p-1 rounded-[1.3rem]">
    <div>
        <label for="" hidden>Recherchez une ville</label>
        <input type="text">
    </div>
    <div class="flex">
        <label for="">Date d'arrivée</label>
        <input type="date" placeholder="">
    </div>
    <div>
        <label for="">Date de départ</label>
        <input type="date">
    </div>
    <div>
        <label for="">Nombre de personnes</label>
        <input type="number">
    </div>
    <input type="submit" class="main-button">
</form>
