.review-card {
    background-color: var(--color-secondary-card);
    width: 23%;
    border-radius: 20px;
    padding: 2rem;
    flex-shrink: 0;
}

.review-card:nth-child(odd) {
    background-color: var(--color-secondary);
}

.slider {
    position: relative;
    width: 90%;
    margin: 0 auto 3rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

// .slider::before,
// .slider::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     width: 200px;
//     /* largeur de la zone de dégradé */
//     height: 100%;
//     pointer-events: none;
//     /* pour ne pas bloquer les clics */
//     z-index: 2;
// }

// .slider::before {
//     left: 0;
//     background: linear-gradient(to right, var(--color-background), transparent);
// }

// .slider::after {
//     right: 0;
//     background: linear-gradient(to left, var(--color-background), transparent);
// }

.slider .swiper-wrapper {
    justify-content: space-around;
}

@layer utilities {
    .fade-clamp {
        // Nombre de lignes visibles (modifiable via --lines)
        --lines: 4;

        display: -webkit-box;
        line-clamp: var(--lines);
        -webkit-line-clamp: var(--lines);
        -webkit-box-orient: vertical;
        overflow: hidden;

        // Dégradé sur les 2 dernières lignes visibles
        -webkit-mask-image: linear-gradient(to bottom,
                black calc((var(--lines) - 2) / var(--lines) * 100%),
                transparent 100%);
        mask-image: linear-gradient(to bottom,
                black calc((var(--lines) - 2) / var(--lines) * 100%),
                transparent 100%);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }
}