<nav class="menu">
    <h2 class="small-h2-title pt-4">Profil</h2>
    <ul class="p-4">
        <li class="panel-link py-5">
            <a [routerLink]="['/profile/overview']" routerLinkActive="text-[var(--color-text)]">Informations</a>
        </li>
        <li class="panel-link py-5">
            <a [routerLink]="['/profile/edit']" routerLinkActive="text-[var(--color-text)]">Modifier le profil</a>
        </li>
        <li class="panel-link py-5">
            <a [routerLink]="['/profile/change-password']" routerLinkActive="text-[var(--color-text)]">Modifier le mot de passe</a>
        </li>
    </ul>
</nav>