<section class="max-w-md md:max-w-none md:w-96 mx-auto md:mx-0 px-4 py-8"
    [class.panel-hidden]="!(panelState.isOpen$ | async)" aria-labelledby="conversations-title">
    <h2 class="small-h1-title mb-6">Messagerie</h2>

    <div>
        <h2 id="conversations-title" class="sr-only">Liste des conversations</h2>
        @if (isLoading) {
        <div class="h-[60vh] flex justify-center items-start">

            <app-loading></app-loading>
        </div>
        }
        <ul class="flex flex-col gap-4">
            @for (peer of peers; track peer.id) {

            <li>
                <a [routerLink]="['/profile/conversation', peer.id]"
                    class="flex items-center gap-4 rounded-2xl px-4 py-3 bg-[var(--color-secondary)] hover:opacity-90 transition">
                    <img src="/uploads/profile-pictures/{{peer.profilePicture}}" alt="Photo de {{peer.firstName}}"
                        class="w-12 h-12 rounded-full object-cover">
                    <div class="flex flex-col min-w-0">
                        <span class="font-bold">{{peer.firstName | titlecase}} {{peer.lastName | titlecase}}</span>
                    </div>
                </a>
            </li>
            }

        </ul>
    </div>
</section>