<main>
    <h1 class="text-center mb-14 mt-7">Réservation</h1>
    <section id="calendar" class="w-full">
        <h2 class="mb-4 text-center">Calendrier des périodes disponibles</h2>
        <app-calendar class="flex justify-center" [announcement]="announcement"></app-calendar>
    </section>
    <section id="reservation-detail" class="flex flex-col lg:flex-row">
        <form [formGroup]="reservationForm" class="w-full lg:w-2/3 p-7" (ngSubmit)="onSubmit()">
            <h2 class="mb-4 text-center">Détails de la réservation</h2>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-0 justify-between justify-self-center w-5/6">
                <div class="flex flex-col items-center mb-5 w-full lg:w-3/12">
                    <label for="starDate" class="mb-3 font-bold">Date de début du séjour</label>
                    <input formControlName="starDate" type="date" [min]="tomorow"
                        class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                    @if (isFieldInvalid('startDate')) {
                    <div class="mt-1 text-sm text-red-600">
                        <!-- Affiche le résultat de getFieldError('startDate') -->
                        <!-- Cette méthode TS retourne le message d'erreur approprié -->
                        {{ getFieldError('startDate') }}
                    </div>
                    }
                </div>

                <div class="flex flex-col items-center mb-5 w-full lg:w-3/12">
                    <label for="duration" class="mb-3 font-bold">Durée du séjour</label>
                    <input formControlName="duration" type="number" min="1" max="36"
                        class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                    @if (isFieldInvalid('duration')) {
                    <div class="mt-1 text-sm text-red-600">
                        <!-- Affiche le résultat de getFieldError('duration') -->
                        <!-- Cette méthode TS retourne le message d'erreur approprié -->
                        {{ getFieldError('duration') }}
                    </div>
                    }
                </div>

                <div class="flex flex-col items-center mb-5 w-full lg:w-3/12">
                    <label for="birthdate" class="mb-3 font-bold">Date de naissance</label>
                    <input formControlName="birthdate" type="date"
                        class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                    @if (isFieldInvalid('birthdate')) {
                    <div class="mt-1 text-sm text-red-600">
                        <!-- Affiche le résultat de getFieldError('birthdate') -->
                        <!-- Cette méthode TS retourne le message d'erreur approprié -->
                        {{ getFieldError('birthdate') }}
                    </div>
                    }
                </div>
            </div>
            <div class="flex flex-col lg:flex-row gap-4 lg:gap-0 justify-between justify-self-center w-5/6">
                <div class="flex flex-col items-center w-full lg:w-5/12 mb-5">
                    <label for="occupation" class="mb-3 font-bold">Profession</label>
                    <input formControlName="occupation" type="text"
                        class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                    @if (isFieldInvalid('occupation')) {
                    <div class="mt-1 text-sm text-red-600">
                        <!-- Affiche le résultat de getFieldError('occupation') -->
                        <!-- Cette méthode TS retourne le message d'erreur approprié -->
                        {{ getFieldError('occupation') }}
                    </div>
                    }
                </div>
                <div class="flex flex-col items-center w-full lg:w-5/12 mb-5">
                    <label for="gender" class="mb-3 font-bold">Genre</label>
                    <select formControlName="gender" name="gender" id="gender"
                        class="bg-neutral-200 text-[var(--color-primary)] w-full h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                        <option [ngValue]="null" disabled>— Sélectionnez —</option>
                        <option value="male">Homme</option>
                        <option value="female">Femme</option>
                        <option value="other">Autre</option>
                    </select>
                    @if (isFieldInvalid('gender')) {
                    <div class="mt-1 text-sm text-red-600">
                        <!-- Affiche le résultat de getFieldError('gender') -->
                        <!-- Cette méthode TS retourne le message d'erreur approprié -->
                        {{ getFieldError('gender') }}
                    </div>
                    }
                </div>
            </div>
            <div class="flex flex-col items-center mb-5">
                <label for="address" class="mb-3 font-bold">Adresse</label>
                <input formControlName="address" type="text"
                    class="bg-neutral-200 text-[var(--color-primary)] w-5/6 h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                @if (isFieldInvalid('address')) {
                <div class="mt-1 text-sm text-red-600">
                    <!-- Affiche le résultat de getFieldError('address') -->
                    <!-- Cette méthode TS retourne le message d'erreur approprié -->
                    {{ getFieldError('address') }}
                </div>
                }
            </div>
            <div class="flex flex-col items-center mb-5">
                <label for="phoneNumber" class="mb-3 font-bold">Numéro de téléphone</label>
                <input formControlName="phoneNumber" type="text"
                    class="bg-neutral-200 text-[var(--color-primary)] w-5/6 h-[3rem] border-2 border-[var(--color-primary)] rounded-[7px] p-3">
                @if (isFieldInvalid('phoneNumber')) {
                <div class="mt-1 text-sm text-red-600">
                    <!-- Affiche le résultat de getFieldError('phoneNumber') -->
                    <!-- Cette méthode TS retourne le message d'erreur approprié -->
                    {{ getFieldError('phoneNumber') }}
                </div>
                }
            </div>
            <div class="flex justify-center">
                <input type="submit" name="" id="" class="main-button mt-7">
            </div>

        </form>
        <div class="flex justify-center items-start w-full lg:w-1/3 mt-6 lg:mt-0">
            <div class="flex flex-col items-start w-full m-7 bg-[var(--color-secondary-card)] rounded-[30px]">
                <div class="w-full">
                    <img src="/uploads/images/generic-announcement-7.jpg" alt="image de l'annonce"
                        class="h-full w-full object-cover object-center rounded-tl-[30px] rounded-tr-[30px] aspect-[16/9]">
                </div>
                <div class="w-full p-7 ">
                    <hgroup class="mb-7">
                        <h2>Suite zen pour esprit curieux</h2>
                        <h3>Lyon</h3>
                    </hgroup>
                    <div class="flex justify-between mb-7">
                        <div class="flex justify-between w-2/3">
                            <p>1 place</p>
                            <p>1 salle de bain</p>
                            <p>250 m²</p>
                        </div>
                        <div class="flex justify-end w-1/3">
                            <img src="/icons/star.svg" alt="icone d'un étoile de notation">
                            <p>4.83 - 37 avis</p>
                        </div>
                    </div>
                    <p class="text-1xl font-bold">Loyer de 810 € par mois</p>
                </div>
            </div>
        </div>
    </section>
</main>