@if (reservation) {
<article class="announcement-card flex h-52 mx-7 mb-7">
    <div class="w-4/12 h-full shrink-0">
        <img src="/uploads/images/{{reservation.announcement.coverPicture}}" alt="image de l'annonce"
            class="h-full w-full object-cover object-center rounded-bl-[60px] rounded-tl-[60px]">
    </div>
    <div class="flex flex-col justify-between w-8/12 px-4 py-3">
        <h3>{{reservation.announcement.title}}</h3>
        <div class="mb-3">
            <div class="flex w-full items-baseline">
                <p class="text-lg font-semibold">{{reservation.announcement.accomodation.city |titlecase}}</p>
                <p class="px-7">{{reservation.announcement.accomodation.addressLine1 |titlecase}}</p>
                <p>{{reservation.announcement.accomodation.surface}} m²</p>

            </div>
            <div class="flex w-full">
                <p class="mt-4">Prix total de la réservation: <span
                        class="text-lg font-semibold">{{reservation.totalPrice}} €</span></p>
            </div>
        </div>
        <div class="flex justify-between items-center w-full">
            <p class="main-no-button">Séjour du {{ reservation.startDate| date:'d MMMM y' : '' :
                'fr' }} au {{ reservation.endDate| date:'d MMMM y' : '' :
                'fr' }}</p>
        </div>
    </div>
    <div class="flex flex-col justify-around items-center px-14">
        <button class="main-button" [routerLink]="['/profile/reviews']">Avis</button>
        @if (reservation.status === 'pending') {
            <p class="text-amber-500">Réservation En attente de validation</p>
        }@else if (reservation.status ==='confirmed') {
            <p class="text-green-700">Réservation confirmée</p>
        }

    </div>
</article>
}