<div class="flex flex-col items-center">
    <swiper-container slides-per-view="5" space-between="28" navigation="true" autoplay="true" loop="true" role="list"
        aria-label="Liste défilante d'annonces" class="w-[95%]">
        @for (test of tests2; track test) {
        <swiper-slide class="w-1/6 mb-16">
            <article role="listitem">
                <img src="/uploads/images/generic-paris-3.jpg" alt="photo d'une annonce de coliving" class="rounded-[30px]">
                <div class="flex flex-col">
                    <h3>Cocon zen</h3>
                    <div class="flex justify-between mb-5">
                        <p class="text-[1.1rem]">Paris</p>
                        <div class="flex">
                            <p>200 m² | </p>
                            <img src="/icons/star.svg" alt="image d'une étoile de notation" class="w-4 mx-1">
                            <p>4,83 - 37 Avis</p>
                        </div>
                    </div>
                    <p>A partir de 800 € / mois</p>
                </div>
            </article>    

        </swiper-slide>

        }
    </swiper-container>

    <button class="main-button">Voir les annonces</button>

</div>