<main>
    <section id="hero">
        <div class="flex flex-col justify-between items-start h-[65vh]">
            <app-search-bar class="flex justify-center w-full my-7"></app-search-bar>
            <div id="hero-card" class="w-1/3 rounded-br-[60px] rounded-tr-[60px] p-14">
                <h1 class="w-4/5 leading-tight mb-[1rem]">One Roof, Endless stories</h1>
                <p>Écrivez chaque jour un nouveau chapitre : espaces privés, vie partagée et rencontres infinies sous un
                    même toit.</p>
            </div>
        </div>
    </section>
    <section id="advantages" class="flex flex-col items-center justify-center my-28">
        <div class="flex w-5/6 justify-center bg-[var(--color-secondary-card)] rounded-[60px]">
            <div class="flex flex-wrap w-1/2">
                <img class="w-1/2 rounded-tl-[60px]" src="/illustrations/image-hg.png" alt="">
                <img class="w-1/2" src="/illustrations/image-bd.png" alt="">
                <img class="w-1/2 rounded-bl-[60px]" src="/illustrations/image-bg.png" alt="">
                <img class="w-1/2" src="/illustrations/image-hd.png" alt="">
            </div>
            <div class="flex flex-col justify-center items-center w-1/2">
                <h2 class="w-3/4">The future is nomad</h2>
                <p class="w-3/4">Nous croyons en un monde où le partage d'un logement crée des liens authentiques. Que
                    vous soyez
                    freelance, en
                    découverte d'une nouvelle ville ou en quête d'inspiration, apportez simplement votre passion, et
                    nous nous occupons du
                    reste</p>
            </div>
        </div>
        <div class="flex flex-col items-center w-1/2 mt-28 mb-16">
            <h2>Tout votre confort, d'un simple clic</h2>
            <p class="text-center">Posez vos valises et profitez d'espaces design, de services inclus et d'une
                communauté vibrante — on
                s'occupe de tout,
                vous n'avez plus qu'à vivre.</p>
        </div>
        <ul class="flex justify-around">
            <li class="basic-card w-1/5">
                <img src="/icons/calendar.svg" alt="">
                <h3>Séjour modulable</h3>
                <p>Restez le temps qu'il vous faut avec nos contrats mensuels flexibles</p>
            </li>
            <li class="basic-card w-1/5">
                <img src="/icons/couch.svg" alt="">
                <h3>Clé en main</h3>
                <p>Emménagez en un instant, tout est prêt</p>
            </li>
            <li class="basic-card w-1/5">
                <img src="/icons/wifi.svg" alt="">
                <h3>Wi-Fi ultra-rapide</h3>
                <p>Internet ultra-haut débit, optimisé pour travailler à domicile</p>
            </li>
            <li class="basic-card w-1/5">
                <img src="/icons/support.svg" alt="">
                <h3>Support 24/7</h3>
                <p>Une équipe à votre disposition pour résoudre tous vos imprévus</p>
            </li>
        </ul>

    </section>
    <section id="random-announcements" class="mb-20">
                <div>
                    <h2 class="text-center">Découvrez votre prochaine destination</h2>
                    <p class="text-center mb-16">Une sélection de coliving partout en France</p>
                </div>
<app-random-announcements-slider></app-random-announcements-slider>
    </section>
    <section id="teaser" class="flex items-center">
        <div class="w-1/3 ml-[50%]">
            <h2 class="white">Des espaces d'exception</h2>
            <p class="white mb-7">Chaque logement répond aux normes d'excellence pour vous garantir une expérience
                incomparable.</p>
            <a [routerLink]="['contact']" class="main-button">Déposer une annonce</a>
        </div>
    </section>
    <section id="partners" class="flex flex-col justify-center items-center w-full my-16">
        <h2>Des partenaires impliqués</h2>
        <p class="mb-16">Nous collaborons avec des partenaires soigneusement sélectionnés pour vous proposer des services
            complémentaires
            d'excellence.</p>
        <ul class="flex justify-around">
            <li class="basic-card w-1/4">
                <img src="/icons/cleanning.svg" alt="icone d'un balai'">
                <h3>Ménage premium</h3>
                <p>Ne vous souciez plus du ménage, on s'occupe de tout</p>
            </li>
            <li class="basic-card w-1/4">
                <img src="/icons/chef.svg" alt="icone d'une toque de chef">
                <h3>Chef à domicile</h3>
                <p>Envie d'un repas Gastronomique?</p>
            </li>
            <li class="basic-card w-1/4">
                <img src="/icons/massage.svg" alt="icone d'un massage">
                <h3>Massage</h3>
                <p>Relaxez vous après une longue journée de travail</p>
            </li>
        </ul>
    </section>
    <section id="reviews" class="flex flex-col justify-center w-full">
        <div>
            <h2 class="text-center">Échos de Résidents</h2>
            <p class="text-center mb-16">Parcourez les avis de ceux qui ont déjà vécu l'aventure</p>
        </div>
        <app-review-slider></app-review-slider>
    </section>
    <section id="second-teaser" class="flex justify-center items-center">
        <div class="teaser-card flex flex-col items-center max-w-3/12">
            <h2>N'attendez plus</h2>
            <p class="mb-7">Un simple clic vous ouvre les portes d'une expérience inoubliable</p>
            <button class="main-button">Choisissez une ville ▼</button>
        </div>
    </section>
</main>