#hero {
    background-image: url('/illustrations/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
}

#hero-card {
    background-color: var(--color-background);
}

#teaser {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/illustrations/teaser-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#second-teaser {
    background-image: url('/illustrations/teaser-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.teaser-card {
    background-color: var(--color-background);
    border-radius: 40px 40px 40px 10px;
    padding: 2rem;
}

.basic-card {
    background-color: var(--color-secondary);
    border-radius: 20px;
    padding: 2rem;
}