@if (announcement) {
    <article class="announcement-card flex h-52 mx-7 mb-7">
        <div class="w-5/12 h-full shrink-0">
            <img src="/uploads/images/{{announcement.coverPicture}}" alt="image de l'annonce" class="h-full w-full object-cover object-center rounded-bl-[60px] rounded-tl-[60px]">
        </div>
        <div class="flex flex-col justify-between w-7/12 px-4 py-3">
            <h3>{{announcement.title}}</h3>
            <div class="mb-3">
                <div class="flex w-full">
                    <p>{{announcement.nbPlace}} place</p>
                    @if (announcement.accomodation.conveniences) {
                        <p class="px-7">{{announcement.accomodation.conveniences[1].name |titlecase}}</p>
                        <p>{{announcement.accomodation.conveniences[0].name}}</p>
                    }
                </div>
                <div class="flex w-full">
                    <p>{{announcement.accomodation.surface}} m²</p>
                    <div class="flex">
                        <img src="/icons/star.svg" alt="icone de l'étoile de notation" class="w-5 mx-2">
                        <p>{{averageRating | number:'1.2-2'}}/5 - {{reviewCount}} Avis</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-between items-center w-full">
                <button class="main-button" [routerLink]="['/announcements', announcement.id]">Voir l'annonce</button>
                <p>A partir de {{monthlyPrice}} / mois</p>
            </div>
        </div>
    </article>
}
